<div class="top-bar"></div>
{{#each voos}}
  <div class="info-bar">
    <div class="info-container">
      <label>Origem:</label>
      <span class="info-detail">{{this.origem}}</span>
    </div>
    <div class="info-container">
      <label>Destino:</label>
      <span class="info-detail">{{this.destino}}</span>
    </div>
    <div class="info-container">
      <label>Datas:</label>
      <span class="info-detail">{{this.horarioSaida}}
        -
        {{this.horarioChegada}}</span>
    </div>
    <div class="info-container">
      <label>Passageiros:</label>
      <span class="info-detail">1 Passageiro</span>
    </div>
    <span class="info-detail">Economy</span>
  </div>

  <div class="fare-container">
    <form
      class="form-valor-passagem"
      action="/escolhePoltrona/{{this.idVoo}}"
      method="GET"
    >
      <div class="fare-card light">
        <h3 class="fare-title">Light</h3>
        <p class="fare-price">BRL {{this.valor}}</p>
        <input type="text" value="Light" name="option" hidden />
        <button type="submit" class="fare-button light">Continuar com a Light</button>
      </div>

      <div class="fare-card">
        <h3 class="fare-title">Standard</h3>
        <p class="fare-price">BRL {{this.valorStandard}}</p>
        <input type="text" value="Standard" name="option" hidden />
        <button type="submit" class="fare-button">Escolher</button>
      </div>

      <div class="fare-card">
        <h3 class="fare-title">Full</h3>
        <p class="fare-price">BRL {{this.valorFull}}</p>
        <input type="text" value="full" name="option" hidden />
        <button type="submit" class="fare-button">Escolher</button>
      </div>

      <div class="fare-card premium">
        <h3 class="fare-title">Premium Economy</h3>
        <p class="fare-price">BRL {{this.valorPremiumEconomy}}</p>
        <input type="text" value="premium" name="option" hidden />
        <button type="submit" class="fare-button">Escolher</button>
      </div>
    </form>
  </div>
{{/each}}