<header class="header">
  <h1>Escolha seus assentos</h1>
</header>
{{#each voo}}
  <div class="flight-info">
    <div class="flight-segment">
      <div class="route">{{this.origem}} a {{this.destino}}</div>
      <div class="flight-type">Voo de ida</div>
    </div>
    {{! <div class="flight-segment">
    <div class="route">Rio de Janeiro a São Paulo</div>
    <div class="flight-type">Voo de volta</div>
  </div> }}
  </div>

  <div class="row">
    <div class="column">
      <section class="passenger-info">
        <div class="passenger-alert">
          <span>!</span>
          Se você é cliente ElitePass, seus benefícios de assentos e bagagem vão
          aparecer no momento de pagar.
        </div>

        <div class="passenger-selection">
          <div class="seat-icon">--</div>
          <div class="passenger-details">Adulto 1 - Sem seleção</div>
        </div>
        <button class="next-flight">Passar ao voo seguinte</button>
        <br /><br />
        <div class="final-price">
          Preço final
          <span>BRL {{this.valor}}</span>
        </div>
      </section>
    </div>
  </div>
{{/each}}

<div class="container">
  <div class="column">
    <div class="airplane">
      <h2>Airbus 321</h2>
      <div class="seating-chart" id="seating-chart">
        <div class="control-grid">
          {{#each mapa}}
            <button
              class="seat"
              id="{{this.idMapa}}"
              onclick="mudarCorPoltrona(this)"
              name="poltronaEscolhida"
            >
              {{this.referencia}}
            </button>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="flight-selection">
  <!-- Aqui você pode inserir detalhes adicionais da seleção do voo, se necessário -->
  {{#each voo}}
    <div class="route-info">
      <div>{{this.origem}} a {{this.destino}}</div>
      {{!-- <div>{{this.destino}} a {{this.origem}} </div> --}}
    </div>
  {{/each}}
  {{#each voo}}
    <form action="/purchase/{{this.idVoo}}" id="purchaseForm">
      <button class="choose-later-btn">Confirmar Assento(s)</button>
    </form>
  {{/each}}
</section>

<script>
  let assentosSelecionados = []; function mudarCorPoltrona(poltrona) {
  poltrona.classList.toggle("clicado"); const assentoIndex =
  assentosSelecionados.indexOf(poltrona.id); if (assentoIndex === -1) {
  assentosSelecionados.push(poltrona.id); } else {
  assentosSelecionados.splice(assentoIndex, 1); } } document
  .getElementById("purchaseForm") .addEventListener("submit", function (event) {
  if (assentosSelecionados.length === 0) { event.preventDefault(); } else {
  const inputAssentos = document.createElement("input");
  inputAssentos.setAttribute("type", "hidden");
  inputAssentos.setAttribute("name", "assentosSelecionados");
  inputAssentos.setAttribute("value", JSON.stringify(assentosSelecionados));
  this.appendChild(inputAssentos); } });

</script>

{{! <footer class="footer">
  <!-- Aqui você pode adicionar informações de rodapé -->
</footer> }}